.EsqueceuSenha {
  text-align: center;
}
.EsqueceuSenha a {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}

.EsqueceuSenha a:hover {
  color: rgb(99, 31, 99);
}
