.Logo {
  text-align: center;
}

.Logo img {
  margin-top: 20%;
  max-width: 35%;
}

.LogoMenor {
  text-align: center;
}

.LogoMenor img {
  margin-top: 10%;
  max-width: 25%;
}

.LogoDireita {
  text-align: right;
}

.LogoDireita img {
  margin-top: 3vh;
  margin-right: 3vh;
  max-width: 15%;
}