body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Para garantir que não haja barras de rolagem */
}

.tela-grafico {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iframe-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.iframe-title {
  position: absolute;
  top: 10px; /* Ajuste a posição do título conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #1b2e11;
  padding: 5px;
  z-index: 999;
}

.espaco-verde {
  display: none; /* Removido para ocupar toda a tela com o gráfico */
}
