.notificacao {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 50px;
  font-size: 16px;
  background-color: #ffe193; /* Cor de fundo para ambas as notificações */
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

.notificacao .notificacao-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.notificacao .notificacao-text {
  flex: 1;
}

.erro {
  color: #721c24;
}

.confirmacao {
  color: #155724;
}

.notificacao .notificacao-text strong {
  font-weight: bold;
}
