/* Estilos CSS */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ManterAnonimo {
  margin-top: 20px;
}

.ManterAnonimo label {
  display: flex;
  align-items: center;
}

.ManterAnonimo input[type="checkbox"] {
  appearance: none; /* Remove o estilo padrão do checkbox */
  width: 10px;
  height: 10px;
  border-radius: 50%; /* Torna o checkbox redondo */
  outline: none; /* Remove o contorno ao focar */
  background-color: #d9d9d9; /* Cor padrão */
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.2s; /* Transição suave da cor de fundo */
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.ManterAnonimo input[type="checkbox"]:checked {
  background-color: #6cb874; /* Cor quando selecionado */
}
