.CampoTexto {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
  text-align: center;
}

.CampoTexto p {
  padding: 10px;
  border-radius: 100px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  box-sizing: border-box;
}
