/* formulario.css */

body::before,
body::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.8; /* Set opacity to 80% */
  z-index: -1; /* Ensure they are in the background */
}

body::after {
  width: 250px;
  height: 250px;
  top: -125px;
  left: -50px;
  background-color: #FFCB13;
}

body::before {
  width: 250px;
  height: 250px;
  top: -30px;
  left: -125px;
  background-color: #FFD978;
}

.formulario {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.formulario form {
  width: 80%;
  border-radius: 10px;
  padding: 5% 0%;
}

.erro,
.confirmacao {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.erro {
  color: red;
}

.confirmacao {
  color: green;
}

h2,
p,
p1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-size: large;
}

p1 {
  margin-top: 2%;
  font-weight: bold;
  color: #4d4d4d;
}

/* Links */
.link-sem-decoracao {
  text-decoration: none;
  color: inherit;
}

/* Animation for notifications */
.slide-right-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slide-right-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}
